//Media Queries Mixin
mobile()
  @media screen and (max-width: 640px)
    {block}

tablet()
  @media screen and (min-width: 641px) and (max-width: 800px)
    {block}

desktop()
  @media screen and (min-width: 801px) and (max-width: 1200px)
    {block}

desktop-hd()
  @media screen and (min-width: 1201px) and (max-width: 1400px)
    {block}

desktop-fullhd()
  @media screen and (min-width: 1401px)
    {block}
