//Reset
@require _normalize
@import _reset
@import _typography
@import _media-queries

// Main Colors
$blue = #009ade
$pink = #ec0080
$yellow = #ffea00
$gray = #4c4c4c
$grayText = #c6c6c6
$black = #000
$white = #fff
$bg = rgba(32, 32, 32, 0.6)

// Helpers
cn_logo =
  background url('../imgs/cn_logo.png')
  background-repeat no-repeat
  background-position center
  background-size cover
  text-indent -9999px

opacity =
  background-color: $black
  opacity: 1

transition =
  transition: 0.2s all linear;

transform =
  transform: scale(1.1);

whitney =
  font-family 'Whitney', sans-serif

.flex
  display flex
  align-items center

.gridBoxes
  display: inline-block
  width: 3.5em
  height 3.5em
  margin 0.025em
  margin-top: 0.18em
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em
  padding-top 1.25em
  color: $white
  opacity: 0.7
  cursor pointer
  {transition}


// Styles
body
  background-color $white
  color $black
  font-family 'CNLatin', sans-serif
  font-size 1em
  height 100%
  min-width 100%

a
  text-decoration none
  color inherit

ul, li
  text-decoration: none
  list-style-type: none

input
  border none
  outline 0

// Header
.header
  background-color $black
  color $white

  &__upbar
    @extends .flex
    justify-content space-between
    flex-flow: wrap
    //padding: 0 12em
    padding 0 15%

    +desktop-fullhd()
      padding 0 23%

  &__timebar
    text-align right
    margin-left 8.5em

    +desktop-fullhd()
      margin-left 15em

  &__time
    font-size 2em

  &__program
    text-transform uppercase
    font-size: 0.6em
    width 10em
    margin-right 2.5em

  &__program-more
    display: inline-block
    background: $yellow
    color: $black
    text-align: center
    font-size: 1.2em
    line-height: 1.2em
    font-weight: bold
    height: 1em
    width: 1em
    position: relative;
    top: -1em

  &__ad
    @extends .flex
    justify-content flex-end

  &__ad-link
    width 602px
    height 72px
    border 1px solid $gray

  &__ad-title
    display block
    font-size 0.7em
    transform rotate(-90deg)
    margin-left -2.25em

  &__titlebar
    @extends .flex
    justify-content space-between
    background-color $gray
    //padding 0.5em 15em
    padding 0.5em 18%
    height 1.8em

  &__title
    {cn_logo}
    height 2.7em
    width 4.4em

  &__search
    {whitney}
    font-weight: bold
    background-color $black
    color $white
    text-align center
    text-transform: uppercase
    font-size: 0.6em
    line-height: 1.4em
    padding: 0.6em
    width 22em


// Main
.schedule
  padding 0 18.4%
  @extends .flex
  flex-wrap: wrap;
  flex-direction: column;
  width 100%

  &__title
    flex-grow: 1
    min-width: 100%
    background-color: $blue
    color: $white
    margin-top: 0.6em
    border-top:5px solid $yellow
    font-size: 2em
    margin-bottom: 0.5em

  &__day
    padding 0.4em

  &__row
    @extends .flex
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom 0.5em

  &__list
    margin 0
    padding: 0
    max-width 65%
    padding-left 1.5em
    margin-bottom: 1em

    +desktop-hd()
      max-width: 52%

    +desktop-fullhd()
      max-width: 45%

  &__hour
    @extends .gridBoxes
    background-color: $blue

    &:hover
      color: $blue
      {opacity}
      {transform}

    &--pink
      @extends .gridBoxes
      background-color: $pink

      &:hover
        color: $pink
        {opacity}
        {transform}

    &--yellow
      @extends .gridBoxes
      background-color: $yellow

      &:hover
        color: $yellow
        {opacity}
        {transform}

    &--arrow
      @extends .gridBoxes
      background-color: $white
      padding-top: 0.8em

      &:hover
        color: $black
        opacity: 1
        {transform}

  &__byHour
    background-color: $yellow
    color: $white
    width: 31%
    text-align: center
    margin-right 1em

    +desktop-fullhd()
      max-width: 21%

  &__selected-hour
    display: block
    font-size: 3.5em
    margin: 0.3em

  &__timeslot
    @extends .flex
    justify-content: space-between
    flex-flow: no-wrap
    background-color: $white
    color $black
    margin 0.5em
    height 5em
    cursor: pointer
    {transition}

    &:hover
      opacity 0.9
      {transform}
      {transition}

  &__quarter
    display: inline-block
    color: $gray
    transform rotate(-90deg)
    font-size: 1.8em
    margin-left -0.45em
    margin-right: 0.45em

  &__showImage
    max-width: 100%

  &__showName
    {whitney}
    font-weight: bold
    text-align: left
    margin: 0 0.45em 0 1.2em
    {transition}

  &__byShow
    width: 100%
    height: 8em
    background-color $pink
    color $white
    border-bottom 1em solid $blue
    position: relative
    {transition}
    //margin-bottom: 1em

  &__shows
    @extends .flex
    justify-content: space-around
    margin-top: -1em
    display none
    {transition}

  &__show
    border: 1px solid transparent

    &:hover
      {transition}
      {transform}

  &__prev
  &__next
    cursor pointer
    fill $white
    {transition}

    &:hover
      fill $black

  &__line
    width: 100%
    height 0.3em
    background-color: $yellow
    //margin-top: -1em
    z-index -1

[id^="shows"]
  display none

.shows1,
.shows2
  {transition}

.shows1
  display: flex
  z-index: 2

*:target ~ .shows1
  display: none

#shows-1:target ~ .shows1
  display: flex

#shows-2:target ~ .shows2
  display: flex

.currentHour
  background-color: $black
  opacity: 1

// Footer
.footer
  font-size 0.8em
  width 100%
  overflow hidden

  &__description
    @extends .flex
    justify-content space-around
    background-color $gray
    color $white
    {whitney}
    //padding 1.2em 20em
    padding 1.2em 18%

  &__logo
    {cn_logo}
    height 4em
    width: 8em
    display block
    margin-right 2em

  &__text
    color $grayText
    font-size 1em
    font-weight bold
    text-align center

  &__links
    display inline-block
    background-color $black
    color $white
    text-align center
    //padding 0.3em 21em
    width 100%
    padding 0.3em 18%

  &__link
    color $white
    text-decoration none
    text-transform uppercase
    line-height 1.5em
    display inline
    padding 3em 1.5em
    white-space nowrap

    & a:hover
      text-decoration underline

// Modal
.modal
  position fixed
  left 0
  top 0
  width: 100%
  height: 100%
  background-color: $bg
  z-index: 3
  overflow-x: hidden
  display: none
  animation: fade 1s

  &__show
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $blue
    color: $white
    width: 55vw
    padding: 0.9em 0em 0.9em 0em
    border-radius: 0.5em
    animation: fade 1s

    +desktop-fullhd()
      width: 40vw

  &__close
    {whitney}
    font-weight 800
    font-size 1.1em
    position absolute
    top 0.25em
    right: 0.8em
    cursor pointer
    background-color $pink
    padding 0.1em 0.4em
    border 1px solid transparent
    border-radius 5px

  &__showDetails
    @extends .flex
    width 100%
    padding 1em 3em
    background-color $yellow
    margin-top 1em

  &__showImages
    align-self flex-start
    display inline
    margin-right: -1.75em
    z-index 2

  &__showImage
    background-color $white
    border 0.6em solid $pink
    border-radius 50%

  &__showTitles
    background-color $pink
    text-transform uppercase
    padding 1em 10em 1em 2em
    text-align left
    z-index 1

  &__showTitle
    font-size 2em

  &__showTitleEn
    {whitney}
    font-size 1.8em
    font-weight 700

  &__showRating
    {whitney}
    font-weight 700
    font-size 2em
    display block
    background-color $blue
    border 3px solid $white
    border-radius 9px
    padding 0.3em
    margin-left 1em

  &__showSchedule
    @extends .flex
    justify-content center
    {whitney}
    font-weight 700
    line-height 1.5em
    color $pink
    padding-top 1em
    vertical-align middle

  &__showHour
    display: inline-block
    width: 6em
    height 6em
    text-align: center;
    vertical-align: middle;
    font-size: 1em
    padding-top 0.75em
    color: $white
    {transition}
    background-color $white
    color $pink
    vertical-align middle

    & span
      display block

  &__showTimeSlot
    color $yellow

.show
  display block
  {transform}
  {transition}

//Modal 2
.modalDetails
  @extends .modal
  //display: block

  &__show
    @extends .modal__show
    text-align: center
    background-color: $pink
    color: $white
    width: 38vw
    padding: 0.9em 0em 0.9em 0em

  &__close
    @extends .modal__close
    font-size 1em
    position absolute
    top 0.25em
    right: 0.7em
    background-color $blue
    padding 0.1em 0.3em

  &__details
    @extends .modal__showDetails
    padding 1em

  &__images
    @extends .modal__showImages
    margin-right: -2em

  &__image
    @extends .modal__showImage
    border 0.6em solid $blue

  &__titles
    @extends .modal__showTitles
    background-color $blue
    padding 0.5em 1.5em 0em 2.5em
    line-height 1.5em

  &__rating
    @extends .modal__showRating

  &__title
    font-size 1.8em

  &__titleEn
    @extends .modal__showTitleEn
    font-size 1.6em

  &__episodeTitle
    {whitney}
    font-size: 1.3em
    text-transform: none

  &__summary
    {whitney}
    text-align: left
    padding 0.5em 1.5em
    border-bottom 0.2em solid $yellow

  &__dayEpisode
    font-size: 1.4em
    line-height: 2em
    font-weight: bold

  &__episode
    font-size: 1.15em
    line-height 1.2em
    font-weight: bold

  &__info
    font-size: 1em
    line-height 1.3em

    & span
      font-weight: bold


//Animations
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
